root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[{*.java,*.kt,*.kts}]
indent_size = 2
tab_width = 2
max_line_length = 100
ij_java_use_single_class_imports = true
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
ij_kotlin_packages_to_use_import_on_demand = unset
ij_any_align_multiline_chained_methods = false
ij_any_align_multiline_parameters = false
ij_java_method_parameters_wrap = on_every_item
ij_kotlin_method_parameters_wrap = on_every_item

[{*.yml,*.yaml}]
indent_size = 2
tab_width = 2
ij_yaml_indent_sequence_value = false

[gradlew.bat]
end_of_line = crlf

[gradlew]
indent_size = unset

[*.md]
max_line_length = 80
