name: Gradle Build

on:
  push:
    branches: ["main", "renovate/*"]
  pull_request:

permissions:
  contents: write
  checks: write
  packages: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Check out
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        fetch-depth: 0 # so we can work out our version correctly

    # A push will be from Renovate, so I can agree to the terms.
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5
      if: github.actor != 'andrewaylett' && github.event_name != 'push'
      with:
        dependency-graph: 'generate-and-submit'

    - name: Setup Gradle Build Scan
      uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5
      if: github.actor == 'andrewaylett' || github.event_name == 'push'
      with:
        dependency-graph: 'generate-and-submit'
        build-scan-publish: 'true'
        build-scan-terms-of-use-agree: 'yes'
        build-scan-terms-of-use-url: https://gradle.com/help/legal-terms-of-use

    - name: Execute Gradle build
      run: ./gradlew :buildSrc:check build

    - name: Publish to GitHub Packages Snapshots
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: ./gradlew --no-configuration-cache -Dorg.gradle.unsafe.isolated-projects=false publishPluginMavenPublicationToGitHubPackagesRepository
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@5e05ac00ad0604dfb7e313ae412aa3284f4906d6 # v6
      if: success() || failure() # always run even if the previous step fails
      with:
        report_paths: '**/build/test-results/*/TEST-*.xml'

    - name: Upload JAR
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
      with:
        name: JAR
        path: build/libs/*.jar

    - name: Upload Build Output
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
      if: failure() # we don't care so much about working builds
      with:
        name: Built-Output
        path: |
          **/build/
          !**/cache/
          !**/caches/

        # Because releases have been given a `dirty` version.
    - name: Show Git Status
      run: git status

  pre-commit:
    name: Pre-Commit
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - uses: andrewaylett/pre-commit-action@5bc3e1e7258d54f09753e28b8776314997083f95 # v4
      with:
        extra_args: '--all-files --hook-stage pre-merge-commit'
