#
# Run pitest and update github in a single step. Until and unless I get outside contributions, this suffices
#
name: Run Pitest
on:
  push:
    branches: ["renovate/*"]
  pull_request:

permissions:
  contents: read
  checks: write
  pull-requests: write
  issues: write

jobs:
  pull-request-ci:
    # Only run on PRs from the repo. PRs from forks will fail due to lack of permissions and
    # must use the two stage process
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        fetch-depth: 2

    - name: Set up JDK 21
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
      with:
        distribution: temurin
        java-version: 21

      # A push will be from Renovate, so I can agree to the terms.
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4
      if: github.actor != 'andrewaylett' && github.event_name != 'push'

    - name: Setup Gradle Build Scan
      uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4
      if: github.actor == 'andrewaylett' || github.event_name == 'push'
      with:
        build-scan-publish: 'true'
        build-scan-terms-of-use-agree: 'yes'
        build-scan-terms-of-use-url: https://gradle.com/help/legal-terms-of-use

    - name: Execute Pitest
      run: ./gradlew --no-configuration-cache -Dorg.gradle.unsafe.isolated-projects=false pitest-github
      env:
        REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
