#
# Run pitest and update github in a single step. Until and unless I get outside contributions, this suffices
#
name: Run Pitest
on:
  push:
    branches: [ "renovate/*" ]
  pull_request:

permissions:
  contents: read
  checks: write
  pull-requests: write
  issues: write

jobs:
  pull-request-ci:
    # Only run on PRs from the repo. PRs from forks will fail due to lack of permissions and
    # must use the two stage process
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 2

    - name: Validate Gradle Wrapper
      uses: gradle/wrapper-validation-action@v1

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 21

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Execute Pitest
      run: ./gradlew --no-configuration-cache pitest-github
      env:
        REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
