name: Publish Plugin

on:
  release:
    types: [created]

permissions:
  contents: write
  checks: write
  packages: write

jobs:
  publish-plugins:
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up JDK 21
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
      with:
        distribution: temurin
        java-version: 21

    - name: Setup Gradle Build Scan
      uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
      with:
        dependency-graph: 'generate-and-submit'
        build-scan-publish: 'true'
        build-scan-terms-of-use-agree: 'yes'
        build-scan-terms-of-use-url: https://gradle.com/help/legal-terms-of-use

    - name: Execute Gradle publish
      run: ./gradlew --no-configuration-cache -Dorg.gradle.unsafe.isolated-projects=false publishPlugins
      env:
        GRADLE_PUBLISH_KEY: hBnkAIS8CiAqxp0aU0dZzoaeH6u2zC6t
        GRADLE_PUBLISH_SECRET: ${{secrets.gradle_publish_secret}}

    - name: Publish to GitHub Packages Releases
      run: ./gradlew --no-configuration-cache -Dorg.gradle.unsafe.isolated-projects=false publishPluginMavenPublicationToGitHubPackagesRepository
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish to OSSRH
      run: ./gradlew --no-configuration-cache -Dorg.gradle.unsafe.isolated-projects=false publishPluginMavenPublicationToSonatypeRepository closeSonatypeStagingRepository
      env:
        OSSRH_TOKEN_USER: ${{ secrets.OSSRH_TOKEN_USER }}
        OSSRH_TOKEN_PASSWORD: ${{ secrets.OSSRH_TOKEN_PASSWORD }}
        GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}

    # Because releases have been given a `dirty` version.
    - name: Show Git Status
      run: git status
