name: Publish Plugin

on:
  release:
    types: [created]

permissions:
  contents: write
  checks: write
  packages: write

jobs:
  publish-plugins:
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Set up JDK 21
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
      with:
        distribution: temurin
        java-version: 21

    - name: Setup Gradle Build Scan
      uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4
      with:
        dependency-graph: 'generate-and-submit'
        build-scan-publish: 'true'
        build-scan-terms-of-use-agree: 'yes'
        build-scan-terms-of-use-url: https://gradle.com/help/legal-terms-of-use

    - name: Execute Gradle publish
      run: ./gradlew --no-configuration-cache -Dorg.gradle.unsafe.isolated-projects=false publishPlugins
      env:
        GRADLE_PUBLISH_KEY: hBnkAIS8CiAqxp0aU0dZzoaeH6u2zC6t
        GRADLE_PUBLISH_SECRET: ${{secrets.gradle_publish_secret}}

    - name: Publish to GitHub Packages Releases
      run: ./gradlew --no-configuration-cache -Dorg.gradle.unsafe.isolated-projects=false publishPluginMavenPublicationToGitHubPackagesRepository
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish to OSSRH
      run: ./gradlew --no-configuration-cache -Dorg.gradle.unsafe.isolated-projects=false publishPluginMavenPublicationToSonatypeRepository closeSonatypeStagingRepository
      env:
        OSSRH_TOKEN_USER: ${{ secrets.OSSRH_TOKEN_USER }}
        OSSRH_TOKEN_PASSWORD: ${{ secrets.OSSRH_TOKEN_PASSWORD }}
        GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}

    # Because releases have been given a `dirty` version.
    - name: Show Git Status
      run: git status
